body {
  font-family: 'Quicksand', sans-serif;
}

.row {
  justify-content: center;
  display: flex;
}

.border {
  border: 8px solid #7A2EE9;
  border-radius: 5px;
  margin: 20px;
}

.logo{
  margin-top: 100px;
}

h1 {
  padding-top: 50px;
}

#ShowText {
  background-color: #25EFD7;
}

span {
  background-color: #25EFD7;
}

.stage {
  background-color: #8332FB;
  color: #25EFD7;
  margin-bottom: 110px;
  padding: 10px 20px;
}

.marine {
  color: #8332FB;
  margin: 15px;
}

p, a {
  color: #25EFD7;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
}

/* Effet rebond curseur*/
#arrowDown {
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  background-color: #25EFD7;
  margin-bottom: 30px;
  border-radius: 50%;
  padding: 10px;
}
/* Fin effect*/
