.border {
    border: 8px solid #7A2EE9;
    border-radius: 5px;
    margin: 10px;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.stage {
    background-color: #8332FB;
    color: #25EFD7;
    font-size: 35px;
}

.marine {
    color: #8332FB;
    margin: 15px;
}

p {
    color: #25EFD7;
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    color: #25EFD7;
    font-family: 'Open Sans Condensed', sans-serif;
}