html, body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Navbar */
ul {
  text-align: center;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  padding: 100px;
  
}

li a {
  color: #7A2EE9;
  font-weight: bold;
  padding: 10px;
}

li :hover {
  background-color: #25EFD7;
}
/* Fin navbar */

.border {
  border: 8px solid #7A2EE9;
  height: 91vh;
  width: 97vw;
  margin: 10px;
  position: fixed;
}

.home {
  text-align: center;
}

#logo{
  margin-top: 30vh;
}

h1 {
  padding-top: 50px;
  color: #7A2EE9;
}

#ShowText {
  background-color: #25EFD7;
  padding: 0 5px 0 5px;
}

/*#arrow {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}*/

#marine {
  color: #8332FB;
  margin: 15px;
  position: absolute;
  bottom: 0;
}

p, a {
  color: #25EFD7;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
}

/* Effet rebond curseur*/
#arrowDown {
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  background-color: #25EFD7;
  border-radius: 50%;
  padding: 10px;
}
/* Fin effect*/


#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
#slideContainer {
  width: 400%; /* to contain 4 panels, each with 100% of window width */
  height: 100%;
}
.panel {
  height: 100%;
  width: 25%; /* relative to parent -> 25% of 400% = 100% of window width */
  float: left;
}

.blue {
  background-color: blue;
}

.turqoise {
  background-color: turquoise;
}

.green {
  background-color: green;
}

.bordeaux {
  background-color: red;
}